@page {
    size: 21.59cm 13.97cm;
    margin-top: 2.2cm;
    margin-right: 2cm;
    margin-left: 1.3cm;
    margin-bottom: 0cm;
}

@media print {

    #header {display:none;}
    #content {display:none;}
    #comments {display:none;}
    #sidebar {display:none;}
    #footer {display:none;}


    .site-description {display:none;}
    .site-title {display:none;}
}

div.inline { float:left; }
.clearBoth { clear:both; }
